/* Global Styles 
---------------------------------------*/
* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
body {
   font-family: Helvetica, sans-serif;
   background-color: rgb(240, 220, 196);
}

.game-container {
   border: 1px solid rgb(65, 42, 0);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-image: url("../images/background.png");
   overflow: hidden;
}

/* Game Container
--------------------------------------*/

.game {
   z-index: 200;
   display: flex;
   flex-wrap: wrap;
}
.menu {
   position: absolute;
   width: 100%;
   background-color: darkslateblue;
   bottom: 0%;
}

/* Game Content
--------------------------------------------*/
.game-score {
   color: rgb(255, 255, 255);
   position: absolute;
}
.best-score {
   color: rgb(255, 255, 255);
   position: absolute;
}
.countdown {
   position: absolute;
   color: rgb(255, 255, 255);
}
.start-button {
   position: absolute;
   background-color: rgb(108, 18, 211);
   color: white;
   border-radius: 5px;
   z-index: 5;
   cursor: pointer;
   border: none;
   outline: none;
}
.start-button:hover {
   background-color: rgb(123, 37, 223);
}

.hole {
   flex: 1 0 33.33%;
   position: relative;
   overflow: hidden;
}
.hole:after {
   content: "";
   display: block;
   background-image: url("../images/hole.png");
   position: absolute;
   width: 100%;
   z-index: 2;
   bottom: -30px;
   background-size: contain;
}
.mole {
   background-image: url("../images/character.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: bottom;
   position: absolute;
   top: 100%;
   width: 100%;
   height: 100%;
   transition: 0.35s;
}
.mole.smashed {
   background-image: url("../images/smashed.png");
}

.hole.up .mole {
   top: 0;
}

/* Resposive Adjusts */

@media screen and (min-width: 820px) {
   .game {
      width: 605px;
      height: 400px;
      margin: 70px auto;
   }
   .game-container {
      width: 800px;
      height: 600px;
   }
   .menu {
      height: 80px;
      border-top: white 1px dashed;
   }
   .best-score,
   .game-score {
      font-size: 25px;
      z-index: 4;
      top: 20%;
   }
   .best-score {
      right: 4%;
   }
   .game-score {
      left: 4%;
   }
   .start-button {
      padding: 6px 15px;
      font-size: 35px;
      top: 15%;
      left: 43%;
   }
   .countdown {
      font-size: 55px;
      right: 47%;
   }
   .hole:after {
      height: 100px;
   }
   .mole.back-row {
      background-size: 60%;
      background-position-y: 87px;
   }
   .mole.front-row {
      background-size: 80%;
      background-position-y: 59px;
   }
}
@media screen and (max-width: 819px) and (min-width: 420px) {
   .game {
      width: 290px;
      height: 200px;
      margin: 38px auto;
   }
   .game-container {
      width: 410px;
      height: 315px;
      background-size: cover;
      background-repeat: no-repeat;
   }
   .menu {
      height: 40px;
      border-top: white 1px dashed;
   }
   .best-score,
   .game-score {
      font-size: 16px;
      z-index: 4;
      top: 15%;
   }
   .best-score {
      right: 2%;
   }
   .game-score {
      left: 2%;
   }
   .start-button {
      padding: 6px 15px;
      font-size: 22px;
      top: 8%;
      left: 39%;
   }
   .countdown {
      font-size: 26px;
      right: 47%;
   }
   .hole:after {
      height: 65px;
   }
   .mole.back-row {
      background-size: 60%;
      background-position-y: 43.5px;
   }
   .mole.front-row {
      background-size: 80%;
      background-position-y: 29px;
   }
}

@media screen and (max-width: 419px) and (min-width: 321px) {
   .game {
      width: 280px;
      height: 190px;
      margin: 35px auto;
   }
   .game-container {
      width: 350px;
      height: 285px;
      background-size: cover;
      background-repeat: no-repeat;
   }
   .menu {
      height: 40px;
      border-top: white 1px dashed;
   }
   .best-score,
   .game-score {
      font-size: 14px;
      z-index: 4;
      top: 15%;
   }
   .best-score {
      right: 2%;
   }
   .game-score {
      left: 2%;
   }
   .start-button {
      padding: 6px 15px;
      font-size: 20px;
      top: 8%;
      left: 39%;
   }
   .countdown {
      font-size: 24px;
      right: 47%;
   }
   .hole:after {
      height: 62px;
   }
   .mole.back-row {
      background-size: 60%;
      background-position-y: 41px;
   }
   .mole.front-row {
      background-size: 80%;
      background-position-y: 29px;
   }
}
@media screen and (max-width: 320px) {
   .game {
      width: 260px;
      height: 150px;
      margin: 35px auto;
   }
   .game-container {
      width: 300px;
      height: 245px;
      background-size: cover;
      background-repeat: no-repeat;
   }
   .menu {
      height: 40px;
      border-top: white 1px dashed;
   }
   .best-score,
   .game-score {
      font-size: 12px;
      z-index: 4;
      top: 15%;
   }
   .best-score {
      right: 2%;
   }
   .game-score {
      left: 2%;
   }
   .start-button {
      padding: 6px 15px;
      font-size: 18px;
      top: 8%;
      left: 39%;
   }
   .countdown {
      font-size: 22px;
      right: 45%;
   }
   .hole:after {
      height: 55px;
   }
   .mole.back-row {
      background-size: 60%;
      background-position-y: 30px;
   }
   .mole.front-row {
      background-size: 80%;
      background-position-y: 18px;
   }
}
